# Python binaries
*.pyc

# PyCharm profile stuff
.idea
.idea/*

# Spyder IDE config files
.spyderworkspace
.spyderproject

# Mac system stuff
.DS_Store

# Unit test html coverage files
workshop/htmlcov/*
.coverage

# Test/build files
workshop/test_files/*
