# Python binaries
*.pyc

# PyCharm profile stuff
.idea
.idea/*

# Spyder IDE config files
.spyderworkspace
.spyderproject

# Sublime IDE stuff
*sublime-workspace

# Mac system stuff
.DS_Store

# Unit test html coverage files
htmlcov
.coverage
.cache

# Test/build files
dependencies.conf
/buddysuite/test_files/*
/buddysuite/build_dir/BuddySuite.py

# IPython
.ipynb_checkpoints/*
*.ipynb

# Manuscript compilation files
*_article.log
*_article.aux
*_article.bbl
*_article.blg
*_article.idx
*_article.out
/*/*/figures/*.pdf
/*/*/figures/*.svg
*.ai

# Manuscript submission files
/manuscript/submission_docs/*

# Diagnostic reference sequence files
/diagnostics/reference/*.gb
/diagnostics/reference/*.nwk

# PyPI distribution files
/dist/*